:root {
  --blue-100: #cfe2ff; /* valor do Bootstrap */
}

#messages {
        position: fixed;
        top: 20px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 9999;
        max-width: 400px;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: 10px;
        pointer-events: none;
    }

    #messages li {
        display: inline-block !important; 
        width: auto !important;
        margin: 0 !important;

        pointer-events: auto;
        padding: 12px 18px;
        border-radius: 8px;
        box-shadow: 0 4px 12px rgba(0,0,0,0.15);
        font-size: 15px;

        opacity: 0;
        animation: fadeIn .3s ease-out forwards;
    }

    @keyframes fadeIn {
        from { opacity: 0; }
        to   { opacity: 1; }
    }

#calendario td{
    height:60px;
    text-align:center;
    vertical-align:top;
    font-weight:500;
}

#calendario td:hover{
    background:#f2f2f2;
    cursor:pointer;
}
