{% extends "base.html" %}

{% block titulo_nav %}
Diário de emoções
{% endblock %}

{% block content %}

<div style="display: flex; flex-direction: column; align-items: center; padding-top: 10px;">

<button class="btn" style="background-color: #B862ED; color: white;" type="button" data-bs-toggle="modal" data-bs-target="#cadastrarEmocaoModal">
    Adicionar
</button>

</div>

<div class="container py-4">
{% if emocoes | length == 0 %}
  <div class="card mb-3 shadow" style="border: 0px; border-radius: 15px;">
    <div class="card-body">
        <p>Ainda não há emoções registradas</p>
    </div>
  </div>
{% else %}
    {% for emocao in emocoes %}
    <div class="card mb-3 shadow" style="border: 0px; border-radius: 15px;">
        <div class="card-body d-flex justify-content-between align-items-center">
            <div style="word-break: break-word; overflow-wrap: break-word; min-width: 0; flex: 1;">
                <h4>{{ emocoes_dict[emocao.humor] }} {{ emocao.data | format_date }}</h4>
                <p>{{ emocao.descricao }}</p>
            </div>
            <div class="d-flex gap-2">
                <button
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#editEmocaoModal"
                onclick="fillEmocaoEditForm('{{ emocao.id }}', '{{ emocao.humor }}', '{{ emocao.descricao | escape }}', '{{ emocao.data }}')"
                ><i class="bi bi-pencil-square"></i></i></button>
                <form action="{{ url_for('emocao.excluir_emocao', emocao_id=emocao.id) }}" method="POST" onsubmit="return confirm('Tem certeza que deseja excluir este item?')">
                    <button class="btn btn-danger" type="submit"><i class="bi bi-trash"></i></button>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
{% endif %}


{% if emocoes | length > 0 %}
<nav aria-label="Navegação de páginas">
  <ul class="pagination justify-content-center">

    {% if page > 1 %}
      <li class="page-item">
        <form action="{{ url_for('emocao.paginacao') }}" method="POST">
          <input type="hidden" name="page" value="{{ page - 1 }}">
          <button class="page-link" type="submit">Anterior</button>
        </form>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link">Anterior</span>
      </li>
    {% endif %}

    <li class="page-item disabled">
      <span class="page-link">
        Página {{ page }} de {{ total_pages }}
      </span>
    </li>

    {% if page < total_pages %}
      <li class="page-item">
        <form action="{{ url_for('emocao.paginacao') }}" method="POST">
          <input type="hidden" name="page" value="{{ page + 1 }}">
          <button class="page-link" type="submit">Próxima</button>
        </form>
      </li>
    {% else %}
      <li class="page-item disabled">
        <span class="page-link">Próxima</span>
      </li>
    {% endif %}

  </ul>
</nav>
{% endif %}
</div>


<div class="modal fade" id="cadastrarEmocaoModal" tabindex="-1" aria-labelledby="cadastrarEmocaoModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    <form action="{{ url_for('emocao.cadastrar_emocao') }}" method="POST">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="cadastrarEmocaoModalLabel">Adicionar uma nova emoção</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          {{ form.hidden_tag() }}
            
            <div class="mb-3">
                {{ form.humor.label }}
                {{ form.humor(class='form-select') }}
            </div>
            
            <div class="mb-3">
                {{ form.descricao.label }}
                {{ form.descricao(class='form-control', rows=5) }}
            </div>
            
            <div class="mb-3">
                {{ form.data_field.label }}
                {{ form.data_field(class='form-control', type='date') }}
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            {{ form.submit(class='btn btn-primary') }}
        </div>
        </form>
      </div>
    </div>
  </div>


<div class="modal fade" id="editEmocaoModal" tabindex="-1" aria-labelledby="editEmocaoModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    <form id="editEmocaoForm" method="POST">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="editEmocaoModalLabel">Editar</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          {{ form_ed.hidden_tag() }}
            
            <div class="mb-3">
                {{ form_ed.humor.label }}
                {{ form_ed.humor(class='form-select', id='edit_humor') }}
            </div>
            
            <div class="mb-3">
                {{ form_ed.descricao.label }}
                {{ form_ed.descricao(class='form-control', rows=5, id='edit_descricao') }}
            </div>
            
            <div class="mb-3">
                {{ form_ed.data_field.label }}
                {{ form_ed.data_field(class='form-control', type='date', id='edit_data') }}
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            {{ form_ed.submit(class='btn btn-primary') }}
        </div>
        </form>
      </div>
    </div>
  </div>


<script>
    function fillEmocaoEditForm(id, humor, descricao, data) {
        document.getElementById("edit_humor").value = humor;
        document.getElementById("edit_descricao").value = descricao;
        document.getElementById("edit_data").value = data;

        document.getElementById("editEmocaoForm").action = "{{ url_for('emocao.editar_emocao', emocao_id=0) }}".replace('0', id);
    }
</script>

{% endblock %}