{% extends 'base.html' %}

{% block titulo_nav %}
Resetar senha
{% endblock %}


{% block content %}

<div class="d-flex align-items-center justify-content-center flex-grow-1" style="margin-top: 80px;">
  <div class="card p-4 shadow" style="width: 100%; max-width: 400px;">
    <h4 class="text-center mb-3">Alteração de senha</h4>
    <form action="{{ url_for('usuarios.reset_password', token=token) }}" method="POST">
    <input type="hidden" name="token" value="{{ token }}">
      <div class="mb-3">
        <label for="new_password" class="form-label">Nova senha</label>
        <input type="password" class="form-control" id="new_password" name="new_password" autofocus required>
      </div>
      <div class="mb-3">
        <label for="confirm_password" class="form-label">Confirmar senha</label>
        <input type="password" class="form-control" id="confirm_password" name="confirm_password" required>
      </div>
      <button type="submit" class="btn w-100 botao-roxo">Alterar</button>
    </form>
  </div>
</div>


{% endblock %}