{% extends "base.html" %}

{% block titulo_nav %}
Tags
{% endblock %}

{% block content %}

<div style="display: flex; flex-direction: column; align-items: center; padding-top: 10px;">
    
<button class="btn" style="background-color: #B862ED; color: white;" type="button" data-bs-toggle="modal" data-bs-target="#cadastrarTagModal">
    Adicionar
</button>

</div>

<div class="container py-4">
{% if tags | length == 0 %}
  <div class="card mb-3 shadow" style="border: 0px; border-radius: 15px;">
    <div class="card-body">
        <p>Ainda não há tags cadastradas</p>
    </div>
  </div>
{% else %}
    {% for tag in tags %}
    <div class="card mb-3 shadow" style="border: 0px; border-radius: 15px;">
        <div class="card-body d-flex justify-content-between align-items-center">
            <div style="display: flex; align-items: center; gap: 10px;">
                <span style="width: 20px; height: 20px; border-radius: 50%; background-color: {{ tag.color }};"></span>
                <h5 style="margin: 0;">{{ tag.nome }}</h5>
            </div>
            <div class="d-flex gap-2">
                <button
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#editTagModal"
                onclick="fillTagEditForm('{{ tag.id }}', '{{ tag.nome }}', '{{ tag.color }}')"
                ><i class="bi bi-pencil-square"></i></button>

                <form action="{{ url_for('agenda.excluir_tag', tag_id=tag.id) }}" method="POST" onsubmit="return confirm('Tem certeza que deseja excluir esta tag?')">
                    <button class="btn btn-danger" type="submit"><i class="bi bi-trash"></i></button>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
{% endif %}
</div>

<div class="modal fade" id="cadastrarTagModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
    <form action="{{ url_for('agenda.cadastrar_tag') }}" method="POST">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Adicionar Tag</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
          {{ form.hidden_tag() }}
            
            <div class="mb-3">
                {{ form.nome.label }}
                {{ form.nome(class='form-control') }}
            </div>

            <div class="mb-3">
                {{ form.color.label }}
                {{ form.color(class='form-control') }}
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            {{ form.submit(class='btn btn-primary') }}
        </div>
        </form>
      </div>
    </div>
</div>

<!-- MODAL EDITAR -->
<div class="modal fade" id="editTagModal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
    <form id="editTagForm" method="POST">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Editar Tag</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
          {{ form_ed.hidden_tag() }}
            
            <div class="mb-3">
                {{ form_ed.nome.label }}
                {{ form_ed.nome(class='form-control', id='edit_nome') }}
            </div>

            <div class="mb-3">
                {{ form_ed.color.label }}
                {{ form_ed.color(class='form-control', id='edit_color') }}
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            {{ form_ed.submit(class='btn btn-primary') }}
        </div>
        </form>
      </div>
    </div>
</div>

<script>
    function fillTagEditForm(id, nome, color) {
        document.getElementById("edit_nome").value = nome;
        document.getElementById("edit_color").value = color;

        document.getElementById("editTagForm").action =
            "{{ url_for('agenda.editar_tag', tag_id=0) }}".replace('0', id);
    }
</script>

{% endblock %}